<div class="thumbnail">
    {{m-image 
        alt=alt 
        loader=loader 
        class=cssClass 
        src=src 
        preloaderImageSrc=preloaderImageSrc 
        fallbackImageSrc=fallbackImageSrc 
        onLoadStart=(action 'onStart')
        onLoadComplete=(action 'onComplete')
        onLoadError=(action 'onError')}}
    <div class="caption text-center">
        <h5>{{message}}</h5>
    </div>
</div>
{{#if showChangeImageSrcButton}}
    <button class="btn btn-default btn-block" {{action "changeImageSrc"}}>Change Me</button>
{{/if}}
