<div class="container" style="padding-top:20px;padding-bottom:20px;">
    <h1 class="text-center">
        DOM Approach
    </h1>
    <div class="text-center">
        <small>Enable the throttling mode in chrome browser to simulate the loading/complete/error states of the images</small>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
            <div class="row">
                <div class="col-sm-6">
                    {{m-image-sample alt="Ember JS Mascot" cssClass="m-image" imageSrc="https://emberjs.com/images/tomsters/atlanta-zoey-38822a67.png"
                    preloaderImageSrc="./img/preloader.gif" errorImageSrc="./img/error.png" secondImageSrc="https://emberjs.com/images/tomsters/dc-tomster-d03cbd95.png"}}
                </div>
                <div class="col-sm-6">
                    {{m-image-sample alt="Ember JS Mascot" cssClass="m-image" imageSrc="https://emberjs.com/images/tomsters/unknown.png" preloaderImageSrc="./img/preloader.gif"
                    errorImageSrc="./img/error.png"}}
                </div>
            </div>
        </div>
    </div>
</div>